# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# FRED_API_KEY: Federal Reserve Economic Data (FRED) API Key
FRED_API_KEY=MY_FRED_API_KEY

# FINNHUB_API_KEY: Finnhub Stock API Key
FINNHUB_API_KEY=MY_FINNHUB_API_KEY

# POLYGON_API_KEY: Polygon.io Stocks API Key
POLYGON_API_KEY=MY_POLYGON_API_KEY

# FMP_API_KEY: Financial Modeling Prep API Key
FMP_API_KEY=MY_FMP_API_KEY

# TWELVE_DATA_API_KEY: Twelve Data API Key
TWELVE_DATA_API_KEY=MY_TWELVE_DATA_API_KEY


